* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  text-align: center;
  padding: 2.5% 25%;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  width: 80vh;
  height: 80vh;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin-bottom: 10%;
}

.gridBox {
  border: 1px solid #343434;
}

.hover-color {
  background-color: red;
}

.btn-color {
  font-size: 1.5rem;
  padding: 10px;
  margin: 20px;
}
